@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?2ezf3p') format('truetype'),
    url('fonts/icomoon.woff?2ezf3p') format('woff'),
    url('fonts/icomoon.svg?2ezf3p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e900";
}
.icon-arrow-up:before {
  content: "\e901";
}
.icon-chat .path1:before {
  content: "\e902";
  color: rgb(255, 255, 255);
  opacity: 0.3;
}
.icon-chat .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-chat .path3:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.7;
}
.icon-chat .path4:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-chat .path5:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-chat .path6:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-chat .path7:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-key:before {
  content: "\e909";
}
.icon-message:before {
  content: "\e90a";
}
.icon-move-icon:before {
  content: "\e90b";
  color: #787878;
}
.icon-password:before {
  content: "\e90c";
}
.icon-password-blocked:before {
  content: "\e90d";
}
.icon-pencil:before {
  content: "\e90e";
}
.icon-refresh:before {
  content: "\e90f";
  color: #fff;
}
.icon-soon:before {
  content: "\e910";
}
.icon-trash-bin:before {
  content: "\e911";
}
.icon-upload:before {
  content: "\e912";
  color: #3ecd90;
}
.icon-user:before {
  content: "\e913";
}
