@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?gnfe6u');
  src:  url('fonts/icomoon.eot?gnfe6u#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?gnfe6u') format('truetype'),
    url('fonts/icomoon.woff?gnfe6u') format('woff'),
    url('fonts/icomoon.svg?gnfe6u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e900";
}
.icon-arrow-up:before {
  content: "\e901";
}
.icon-category-sidebar:before {
  content: "\e902";
  color: #53bd8c;
}
.icon-category-sidebar-hover:before {
  content: "\e903";
  color: #8a8a8a;
}
.icon-chat .path1:before {
  content: "\e904";
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.icon-chat .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-chat .path3:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.icon-chat .path4:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-chat .path5:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.3;
}
.icon-chat .path6:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.3;
}
.icon-chat .path7:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.3;
}
.icon-chat1 .path1:before {
  content: "\e90b";
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.icon-chat1 .path2:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-chat1 .path3:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.icon-chat1 .path4:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-chat1 .path5:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.3;
}
.icon-chat1 .path6:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.3;
}
.icon-chat1 .path7:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.3;
}
.icon-comment-sidebar:before {
  content: "\e912";
  color: #53bd8c;
}
.icon-comment-sidebar-hover:before {
  content: "\e913";
  color: #8a8a8a;
}
.icon-content-sidebar:before {
  content: "\e914";
  color: #53bd8c;
}
.icon-content-sidebar-hover:before {
  content: "\e915";
  color: #8a8a8a;
}
.icon-dashboard-sidebar:before {
  content: "\e916";
  color: #53bd8c;
}
.icon-dashboard-sidebar-hover:before {
  content: "\e917";
  color: #8a8a8a;
}
.icon-eye:before {
  content: "\e918";
}
.icon-eye1:before {
  content: "\e919";
}
.icon-eye-hide:before {
  content: "\e91a";
}
.icon-eye-hide1:before {
  content: "\e91b";
}
.icon-form-sidebar:before {
  content: "\e91c";
  color: #53bd8c;
}
.icon-form-sidebar-hover:before {
  content: "\e91d";
  color: #8a8a8a;
}
.icon-garbage:before {
  content: "\e91e";
}
.icon-key:before {
  content: "\e91f";
}
.icon-key11:before {
  content: "\e920";
}
.icon-menu-sidebar:before {
  content: "\e921";
  color: #53bd8c;
}
.icon-menu-sidebar-hover:before {
  content: "\e922";
  color: #8a8a8a;
}
.icon-message:before {
  content: "\e923";
}
.icon-message1:before {
  content: "\e924";
  color: #fff;
}
.icon-password:before {
  content: "\e925";
}
.icon-password-blocked:before {
  content: "\e926";
}
.icon-pencile:before {
  content: "\e927";
}
.icon-refresh:before {
  content: "\e928";
  color: #fff;
}
.icon-report-sidebar:before {
  content: "\e929";
  color: #53bd8c;
}
.icon-report-sidebar-hover:before {
  content: "\e92a";
  color: #8a8a8a;
}
.icon-setting-sidebar:before {
  content: "\e92b";
  color: #53bd8c;
}
.icon-setting-sidebar-hover:before {
  content: "\e92d";
  color: #8a8a8a;
}
.icon-sms:before {
  content: "\e92e";
  color: #fff;
}
.icon-soon:before {
  content: "\e92f";
}
.icon-soon1:before {
  content: "\e930";
  color: #fff;
}
.icon-support-sidebar:before {
  content: "\e931";
  color: #53bd8c;
}
.icon-support-sidebar-hover:before {
  content: "\e932";
  color: #8a8a8a;
}
.icon-timer:before {
  content: "\e933";
  color: #fff;
}
.icon-trash-bin:before {
  content: "\e934";
}
.icon-upload:before {
  content: "\e935";
  color: #3ecd90;
}
.icon-user:before {
  content: "\e936";
}
.icon-user1:before {
  content: "\e937";
}
.icon-user-sidebar:before {
  content: "\e938";
  color: #53bd8c;
}
.icon-user-sidebar-hover:before {
  content: "\e939";
  color: #8a8a8a;
}
.icon-key1:before {
  content: "\e92c";
}
