body {
    background-color: #e7ebee;
}

.card {
    border-radius: 5px;
    margin-bottom: 1.875rem;
    position: relative;
    background: white;
    border: none;
}


::placeholder, select {
    font-size: .8rem !important;
}

a {
    text-decoration: none !important;
    color:black;
}

.textRight {
    text-align: right;
}

.textLeft {
    text-align: left;
}

.confirmSwalButton ,.confirmSwalButton:hover {
    background-color: #12a56d!important;
}
.dangerSwalButton ,.dangerSwalButton:hover {
    background-color: #e04b4b!important;
}


.makeSwalButtonCenter .swal-footer {
    text-align: center
}

/*@import url('https://fonts.googleapis.com/css?family=Lato');*/
